.items{
    margin: 10px;
}
.section-body{
    display: flex;
    flex-wrap: wrap;
}
.section-header{
    background-color: rgba(255, 0, 0, 0.705);
    color:seashell;
    font-size: x-large;
    margin: 5px 0px;
    padding: 18px;
}
img{
    width: 300px;
    border-radius: 10px;
    
}
#heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    float: right; 
    margin: 0px 10px 0px 0px;
    font-size: large;
    width: 500px;
    color: seashell;
}

}
.column {
    float: left;
    width: 20%;
    padding: 10px;
     }

