.items{
    margin: 10px;
}
.section-body{
    display: flex;
    flex-wrap: wrap;
}
.section-header{
    background-color: red;
    color:seashell;
    font-size: x-large;
    margin: 5px 0px;
    padding: 18px;
}
img{
    width: 200px;
    border-radius: 10px;
    margin-top: 12px;
    float: left;
    width: 20%;
    }
.column img{
    margin-top: 12px;

}
#heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    float: right; 
    margin: 0px 10px 0px 0px;
    font-size: large;
    width: 500px;
    
}
#heading li{
    display: flex;
    flex-wrap: wrap;
    color: black;
}

}
.column {
    float: left;
    width: 20%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
     }

