.section-body{
    display: flex;
    flex-wrap: wrap;
}
/*
#button{
    border: 1px solid white; 
    background-color: whitesmoke; 
    color: #e60023;
    padding: 5px; 
    border-radius: 30px;
    }*/
.section-header{
    background-color: #e60023;
    color:seashell;
    font-size: x-large;
    margin: 5px 0px;
    padding: 18px;
}
img{
    width: 100%;
    border-radius: 10px;
    }

#heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    float: right; 
    margin: 0px 10px 0px 0px;
    font-size: large;
    width: 500px;
    }
#heading li a{
    display: flex;
    flex-wrap: wrap;
    color: seashell;
    font-family: "Lucida Console", "Courier New", monospace;
    border: 1px solid white; 
    background-color: whitesmoke; 
    color: #e60023;
    padding: 5px; 
    border-radius: 10px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    }
.row:after{
        content: "";
        display: table;
        clear: both;
      }
.column{
        display: flex;
        flex-wrap: wrap;  
        float: left;
        width: 18%;
        padding: 8px;
      }
      
.column img {
        margin-top: 12px;
      }
